body {
    background-image: url('/img/fondo.jpg'); /* Aquí debes colocar la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: white; /* Asegura que el texto sea visible si la imagen es oscura */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10px;
}

/* Estilos para centrar el video */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0; /* Ajusta el margen según sea necesario */
    flex-direction: column; /* Añade esto para que el h2 y el video estén en columna */
}

/* Cambiar el color del h2 dentro de la sección */
section h2 {
    color: #06ff1f; /* Cambia este valor al color que desees */
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Añade un margen inferior para separarlo del video */
}

video {
    width: 100%;
    max-width: 500px; /* Ancho máximo del video */
    height: auto; /* Mantiene la proporción del video */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para mejor apariencia */
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    video {
        max-width: 90%; /* El video ocupa el 90% del ancho en móviles */
    }
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #00ff00;
    color: black;
}

main {
    padding: 20px;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 15px;
    width: 300px;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
}

.producto h3 {
    margin: 10px 0;
    color: #333;
}

.producto p {
    color: #555;
}

.precio {
    display: block;
    margin: 10px 0;
    font-size: 20px;
    color: #e74c3c;
}

button {
    background-color: #024902;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #008000;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}